/*
========================================================================================
    NF_TumorBiome Config file
========================================================================================
*/

// Global default parameters
params {

    // Input/Output options
    samplesheet        = null
    metadata           = null
    outdir             = null

    // Preprocessing options
    kraken_db          = null
    use_centrifuge     = false
    centrifuge_db      = null
    rcf_minscore       = 35

    // Downstream options
    abundance_table        = null 
    lineage_table          = null
    host_transcriptome     = null
    survival               = null

    // Molecular Mimicry
    reference_antigens     = null

    // Generic options
    max_memory  = '1000.GB'
    max_cpus    = 16
    max_time    = '6.h'

    // Schema validation default options
    validate_params    = true
}

plugins {
  id 'nf-schema'
}
validation {
  help {
    enabled = true
  }
}

// Include base config file
includeConfig 'conf/base.config'

// Use singularity
process {
    container = '/home/rungger/Scripts/Intratumoral_Microorganisms/Pipe_Nextflow/tumorbiome_1.2.sif'
    env.PATH = "/opt/conda/envs/NF_Tumorbiome/bin:/opt/conda/bin:$PATH"
}

singularity {
    enabled = true
    autoMounts = true
    def binds = []
    if (params.kraken_db) binds << new File(params.kraken_db).getParent()
    // if (params.centrifuge_db) binds << new File(params.centrifuge_db).getParent()

    runOptions = "--no-home" + (binds ? " -B " + binds.unique().join(",") : "")
}

conda {
    enabled = true
}

// Function to ensure that resource requirements don't go beyond a maximum limit (From nf-core)
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
