/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    input       = "test_data/TCGA_PAAD_samplesheet.csv"
    outdir      = "test_data/Results"

    // Downstream options
    otu_table              = "test_data/TCGA_PAAD_otutable.csv" 
    lineage_table          = null
    transcript_counts      = "test_data/TCGA_PAAD_gene_counts_summed.csv"
    survival               = "TCGA_PAAD_Xena_Survival.csv"
}
process {
maxForks = 2
errorStrategy = 'finish'
}
