/*
Including nf-schema to help with samplesheet and help message.
*/

plugins {
  id 'nf-schema@2.4.1'
}

validation {
  help {
    enabled: true
  }
}


/* 
Defining processes with variability. (From nf-core)
For KRAKEN2: amount of memory is calculated in Script based on reference database size
*/

process {
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withName: Kraken {
        executor = 'slurm'
        queue = 'long'
        cpus = 12
    }

    withLabel: standard {
        executor = 'slurm'
        queue = 'standard'
        memory = '6 GB'
        cpus = 1
    }

    withLabel: long {
        executor = 'slurm'
        queue = 'long'
        memory = '6 GB'
        cpus = 1
    }

    withLabel: process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }
    withLabel: process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    withLabel: process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel: process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel: process_long {
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel: process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

}